name: Tic-Tac-Toe

on:
  issues:
    types: [opened]

permissions:
  contents: write
  issues: write

jobs:
  play:
    runs-on: ubuntu-latest
    if: startsWith(github.event.issue.title, 'ttt|')
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Play Move
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python scripts/tictactoe.py
          
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md scripts/board.json
          git commit -m "Update Tic-Tac-Toe board" || exit 0
          git push
          
      - name: Close Issue
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh issue close ${{ github.event.issue.number }} -c "Move processed!"
